<div>
    <form #applyLoanForm="ngForm" (ngSubmit)="applyLoan(applyLoanForm)">
        <p>
            <label>
                firstName
                <input type="text" required [(ngModel)]="form.firstName" name="firstName" #firstName="ngModel" />
                <span class="error" *ngIf="firstName.errors">
                    <span *ngIf="firstName.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                lastName
                <input type="text" required [(ngModel)]="form.lastName" name="lastName" #lastName="ngModel" />
                <span class="error" *ngIf="lastName.errors">
                    <span *ngIf="lastName.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                email
                <input type="email" required email [(ngModel)]="form.email" name="email" #email="ngModel" />
                <span class="error" *ngIf="email.errors">
                    <span *ngIf="email.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                password
                <input type="password" required minlength="8" [(ngModel)]="form.password" name="password"
                    #password="ngModel" />
                <span class="error" *ngIf="password.errors">
                    <span *ngIf="password.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                mobileNo
                <input type="text" required maxlength="10" minlength="10" [(ngModel)]="form.mobileNo" name="mobileNo"
                    #mobileNo="ngModel" />
                <span class="error" *ngIf="mobileNo.errors">
                    <span *ngIf="mobileNo.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                age
                <input type="text" required min="18" [(ngModel)]="form.age" name="age" #age="ngModel" />
                <span class="error" *ngIf="age.errors">
                    <span *ngIf="age.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                taxId
                <input type="text" required [(ngModel)]="form.taxId" name="taxId" #taxId="ngModel" />
                <span class="error" *ngIf="taxId.errors">
                    <span *ngIf="taxId.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                checkCredit
                <input type="checkbox" required [(ngModel)]="form.checkCredit" name="checkCredit"
                    #checkCredit="ngModel" />
                <span class="error" *ngIf="checkCredit.errors">
                    <span *ngIf="checkCredit.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <!-- <button [disabled]="applyLoanForm.form.status === 'INVALID'" type="submit">Submit</button> -->
            <button type="submit">Submit</button>
        </p>
    </form>


</div>

<!-- 
    Firstname
    Lastname
    Email
    Password
    Mobile No
    Age
    Tax identification  
    Content to check credit score.
 -->