<div>
    <form #applyLoanForm="ngForm" (ngSubmit)="applyLoan(applyLoanForm)">
        <p>
            <label>
                firstName
                <input [ngClass]="{ error : firstName.errors && firstName.touched }" type="text" required [(ngModel)]="form.firstName" name="firstName" #firstName="ngModel" />
                <span class="error" *ngIf="firstName.errors && firstName.touched">
                    <span *ngIf="firstName.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                lastName
                <input type="text" [ngClass]="{ error : lastName.errors && lastName.touched }"  required [(ngModel)]="form.lastName" name="lastName" #lastName="ngModel" />
                <span class="error" *ngIf="lastName.errors && lastName.touched">
                    <span *ngIf="lastName.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                email
                <input type="email" [ngClass]="{ error : email.errors && email.touched }"  required email [(ngModel)]="form.email" name="email" #email="ngModel" />
                <span class="error" *ngIf="email.errors && email.touched">
                    <span *ngIf="email.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                password
                <input type="password" [ngClass]="{ error : password.errors && password.touched }"  required minlength="8" [(ngModel)]="form.password" name="password"
                    #password="ngModel" />
                <span class="error" *ngIf="password.errors && password.touched">
                    <span *ngIf="password.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                mobileNo
                <input type="text" [ngClass]="{ error : mobileNo.errors && mobileNo.touched }"  required maxlength="10" minlength="10" [(ngModel)]="form.mobileNo" name="mobileNo"
                    #mobileNo="ngModel" />
                <span class="error" *ngIf="mobileNo.errors && mobileNo.touched">
                    <span *ngIf="mobileNo.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                age
                <input type="text" [ngClass]="{ error : lastName.errors && lastName.touched }"  required min="18" [(ngModel)]="form.age" name="age" #age="ngModel" />
                <span class="error" *ngIf="age.errors && age.touched">
                    <span *ngIf="age.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                taxId
                <input type="text" [ngClass]="{ error : taxId.errors && taxId.touched }"  required [(ngModel)]="form.taxId" name="taxId" #taxId="ngModel" />
                <span class="error" *ngIf="taxId.errors && taxId.touched">
                    <span *ngIf="taxId.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <label>
                checkCredit
                <input type="checkbox" [ngClass]="{ error : checkCredit.errors && checkCredit.touched }"  required [(ngModel)]="form.checkCredit" name="checkCredit"
                    #checkCredit="ngModel" />
                <span class="error" *ngIf="checkCredit.errors && checkCredit.touched">
                    <span *ngIf="checkCredit.errors['required']">This is required</span>
                </span>
            </label>
        </p>

        <p>
            <!-- <button [disabled]="applyLoanForm.form.status === 'INVALID'" type="submit">Submit</button> -->
            <button type="submit">Submit</button>
        </p>
    </form>


</div>

<!-- 
    Firstname
    Lastname
    Email
    Password
    Mobile No
    Age
    Tax identification  
    Content to check credit score.
 -->