:host {
    background-color: aquamarine;
    display: block;
    padding: 10px;
}

h1 {
    color: cadetblue;
    font-size: 24px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    margin-left: auto !important;
    
    float: right;
}

ul li {
    margin: 0 5px;
}

ul li a { color: rgb(31, 27, 27); text-decoration: none;}
ul li a:hover  { text-decoration: underline;}