<div>
    <form>
        <p>
            <label>
                firstName
                <input type="text" name="firstName" />      
            </label>
        </p>

        <p>
            <label>
                lastName
                <input type="text" name="lastName" />

            </label>
        </p>

        <p>
            <label>
                email
                <input type="email" name="email" />

            </label>
        </p>

        <p>
            <label>
                password
                <input type="password" name="password" />
            </label>
        </p>

        <p>
            <label>
                mobileNo
                <input type="text"  name="mobileNo" />
            </label>
        </p>

        <p>
            <label>
                age
                <input type="text" name="age" />
            </label>
        </p>

        <p>
            <label>
                taxId
                <input type="text" name="taxId" />
            </label>
        </p>

        <p>
            <label>
                checkCredit
                <input type="checkbox" name="checkCredit" />
            </label>
        </p>

        <p>
            <!-- <button [disabled]="applyLoanForm.form.status === 'INVALID'" type="submit">Submit</button> -->
            <button type="submit">Submit</button>
        </p>
    </form>


</div>