<main class="container">
    <div class="row">
        <div class="col-12">
            <sns-header></sns-header>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <sns-navigation></sns-navigation>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <sns-gallery></sns-gallery>
        </div>
    </div>
    <sns-article-callouts></sns-article-callouts>

    <div class="row">
        <div class="col-8">
            <sns-news-table></sns-news-table>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <sns-login-form></sns-login-form>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">lifecycle demo</div>
                <div class="card-body">
                    <input [(ngModel)]="userMessage" name="message"/>
                    <sns-lifecycle-demo (userclicked)="childToParentEvent($event)" [message]="userMessage" *ngIf="toggle"></sns-lifecycle-demo>
                    
                </div>
                <div class="card-footer text-muted">
                    <button (click)="toggleLifecycleComponent()">Toggle lifecycle component.</button>
                </div>
              </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <sns-footer></sns-footer>
        </div>
    </div>
</main>