<main class="container">
    <div class="row">
        <div class="col-12">
            <sns-header></sns-header>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <sns-navigation></sns-navigation>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <sns-gallery></sns-gallery>
        </div>
    </div>
    <sns-article-callouts></sns-article-callouts>

    <div class="row">
        <div class="col-6">
            <sns-news-table></sns-news-table>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <sns-login-form></sns-login-form>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <input [(ngModel)]="userMessage" name="message"/>
            <sns-lifecycle-demo (userclicked)="childToParentEvent($event)" [message]="userMessage" *ngIf="toggle"></sns-lifecycle-demo>
            <button (click)="toggleLifecycleComponent()">Toggle lifecycle component.</button>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <sns-footer></sns-footer>
        </div>
    </div>
</main>